<!doctype html>
<html lang="en" ng-app="BasicApp">
  <head>
    <meta charset="utf-8">
      <title>Bookmarking App</title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>



  </body>
  <script src="/lib/angularjs/1.0.8/angular.js"></script>
  <script src="/lib/angularjs/1.0.8/angular-resource.js"></script>
</html>
