<!DOCTYPE html>
<html lang="en" ng-app="BookmarkApp">
  <head>
    <meta charset="utf-8">
      <title>Bookmarking App</title>
      <link href="/css/bootstrap.min.css" rel="stylesheet">
  </head>
  <body>

  </body>
  <script src="/lib/angularjs/1.2.4/angular.js"></script>
  <script src="/lib/angularjs/1.2.4/angular-resource.js"></script>
  <script src="/app/base/app.js"></script>
</html>
