!!! 5
%html{"lang" => "en", "ng-app" => "app_#{@view}"}
  %head
    %title Bookmarking App
    %link(rel="stylesheet" href="/css/bootstrap.min.css")

  %body
    = @view_template

    %script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.min.js")
    %script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular-resource.js")
    %script(src="/app/base/app.js")
