!!! 5
%html{"lang" => "en", "ng-app" => "app_base"}
  %head
    %title Bookmarking App
    %link(rel="stylesheet" href="/css/bootstrap.min.css")
    %script(src="/lib/angularjs/1.2.4/angular.js")
    %script(src="/lib/angularjs/1.2.4/angular-resource.js")
    %script(src="/app/base/app.js")

  %body
    = @view_template
